.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid #f9f9f9;
    position: fixed;
    height: 100vh;
    background-color: white;

    #icons {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #606060;
        font-size: 0.9rem;

        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}